body {
  background-color: #121212;
  color: white;
}

.search-container {
  background-color: #121212;
  position: relative;
  border-radius: 30px;
  padding: 3px 50px 3px 10px;
}

.search-box {
  background-color: transparent;
  color: lightgray;
  outline: none;
  height: 35px;
  font-size: 15px;
  border: 1px solid gray;
  width: 100%;
}

input::placeholder {
  color: gray;
}

.search-button {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #C00;
  border-radius: 50%;
  border: 0;
  color: #FFF;
  width: 35px;
  height: 35px;
  outline: 0;
}

button {
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 0px;
}

select {
  background-color: gray;
  color: white;
  padding: 5px;
  margin: 4px;
}

.content {
  /*__*/
}

iframe {
  border: 1px solid gray;
  color: white;
}